{% extends "blog/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <a href="{% url 'post-detail' post.slug %}"><img style="object-fit: cover; max-height: 300px; display: block; width: 100%; margin: auto;" src="{{MEDIA_URL}}{{post.images.url}}" alt="post"></a>
            <h2 style="margin-top: 1rem;"><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe|truncatewords:40 }}</p>
          </div>
          <a href="{% url 'post-detail' post.slug %}" class="btn btn-sm btn-primary">{% trans "Read More" %}</a>
          <div style="display: flex; margin-top: 1rem;">
          {% for tag in post.taggit.all %}
            <a href="{% url 'posts_by_tag' tag.slug %}">&nbsp;#{{tag.name}}</a>
          {% endfor %}
          </div>
        </article>
    {% endfor %}
    
{% endblock content %}